.loading,
.error-message,
.empty-state{

width:500px;

padding:25px;

margin-top:20px;

border-radius:12px;

text-align:center;

font-size:18px;

background:white;

box-shadow:0 3px 10px rgba(0,0,0,.1);

}

.loading{

color:#2563eb;

}

.error-message{

color:red;

}

.empty-state{

color:#777;

}

@media(max-width:768px){

.loading,
.error-message,
.empty-state{

width:90%;

}

}